* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid cornflowerblue;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    transform: translateX(-150px);
    opacity: 0.5;
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
    opacity: 1;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-150px);
    opacity: 0;
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 5px 15px;
    color: cornflowerblue;
    font-size: 14px;
    background: transparent;
    border: 1px solid cornflowerblue;
    cursor: pointer;
}

.active__page {
    padding: 5px 15px;
    color: black;
    font-size: 14px;
    background: transparent;
    border: 3px solid dodgerblue;
    cursor: pointer;
    font-weight: bold;
}

.post__btn {
    display: flex;
}